<?xml version="1.0"?>
<!--
/**
 * Copyright © 2019 Digital Aptech PVT. LTD. All rights reserved.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <group>
            <general>
                <enable>0</enable>
            </general>
        </group>
    </default>
</config>