<?xml version="1.0"?>
<!--
/**
 * Copyright © 2019 Digital Aptech PVT. LTD. All rights reserved.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_login">
        <observer name="customer_login_observer" instance="Dapl\GroupChange\Observer\GroupChange" />
    </event>
</config>